body {
    background-color: rgb(182, 153, 171);
}

.login-container {
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-top: 150px;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #df9cd6;
    border: none;
    border-radius: 3px;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
}

h2 {
  text-align: center;
  margin-top: 200px;
  font-weight: 900;
  font-size: 2rem;
}



